#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.carCard {
  background: rgba(255, 255, 255, 0.25);
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 8px;
    transition: .2s;
}

.carCard:hover {
  transform: scale(1.2);
  z-index: 1;
}

#searchBox {
  display: flex;
  justify-content: space-evenly; 
  align-items: 'center';
  background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
}
