#root {
  /* max-width: 1280px; */
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  background-image: url("./images/siteBGDesktop.png") !important;
  background-attachment: fixed;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
}

#discordLink:hover {
  transform: scale(1.2)
}

.fontPageItem {
  width: 40rem;
  height: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
}

.fontPageItem:hover {
  transform: scale(1.05);
}

.carlist {
  background-image: url('./images/carlist.png');
  background-size: cover;
}

.packlist {
  background-image: url('./images/packlist.png');
  background-size: cover;
}

.tracklist {
  background-image: url('./images/tracklist.png');
  background-size: cover;
}

.bmcarlist {
  background-image: url('./images/bmcarlist.png');
  background-size: cover;
}

.carCard {
  background: rgba(255, 255, 255, 0.25) !important;
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
  border-radius: 10px !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
  padding: 8px !important;
  transition: .2s !important;
  display: flex;
  flex-direction: column;
}

.carCard:hover {
  transform: scale(1.1) !important;
  z-index: 1;
}

#searchBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
}

@media screen and (max-width: 1000px) {
  #root {
    background-image: url("./images/siteBGMobile.png") !important;
  }

  #searchBox {
    margin-top: 3rem;
  }
}

.car-modal-details {
  position: absolute;
  font-family: Rubik-BoldItalic;
  font-size: calc(120%);
}

#car-modal-topspeed {
  top: 29%;
  left: 2%;
}

#car-modal-0to60 {
  top: 37%;
  left: 2%;
}

#car-modal-handling {
  top: 45%;
  left: 2%;
}

#car-modal-driveType {
  top: 53.5%;
  left: 1.6%;
}

#car-modal-tyreType {
  top: 62%;
  left: 1.6%;
}

@media screen and (max-width: 900px) {
  .car-modal-details {
    font-size: 3vw;
  }

  #car-modal-topspeed {
    top: 30%;
  }

  #car-modal-0to60 {
    top: 38%;
  }

  #car-modal-handling {
    top: 46.5%;
    left: 2%;
  }

  #car-modal-driveType {
    top: 55%;
    left: 1.6%;
  }

  #car-modal-tyreType {
    top: 63%;
    left: 2%;
  }
}